src_projects
builddir
envsetup_pre.cfg
envsetup_post.cfg
build_cfg.user
.vscode
docs/examples/hipcc/hello_world/hello_world
docs/examples/hipcc/hello_world/hello_world.o
docs/examples/opencl/check_opencl_caps/check_opencl_caps
docs/examples/opencl/hello_world/hello_world
docs/examples/openmpi/mpi_rank_printout/mpi_rank_printout
docs/examples/pytorch/audio/microphone_rec.wav
docs/examples/pytorch/audio/speech_resave.wav
docs/examples/openmpi/mpi_msg_ping/mpi_msg_ping
packages
envsetup_user.sh
node_modules
docs/examples/llm/vllm/sys
